@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --breakpoint-sm: 390px;
  --breakpoint-md: 744px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1440px;

  /* purple primary */
  --color-primary: #421656;

  --color-primary-dark: #280d34;
  --color-primary-darker: #0d0411;

  --color-primary-light: #8e739a;
  --color-primary-lighter: #d9d0dd;

  /* pruple seconday */
  --color-secondary: #6c3789;

  --color-secondary-dark: #412152;
  --color-secondary-darker: #160b1b;

  --color-secondary-light: #a787b8;
  --color-secondary-lighter: #e2d7e7;

  /* orange accent */
  --color-accent: #e86834;

  --color-accent-dark: #8b3e1f;
  --color-accent-darker: #2e150a;

  --color-accent-light: #f1a485;
  --color-accent-lighter: #fae1d6;

  /* nuetrals */
  --color-black: #000000;
  --color-white: #ffffff;

  --color-grey-dark: #333333;
  --color-grey-light: #faf6fd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ibm-plex-sans), sans-serif;
}

/* Typography system */
@layer components {
  .h1 {
    @apply font-medium tracking-[-0.04em] text-[48px] leading-[56px]
          md:text-[64px] md:leading-[64px]
          lg:text-[80px] lg:leading-[80px];
    font-family: var(--font-poppins), sans-serif;
  }

  .h2 {
    @apply font-medium tracking-[-0.016em] text-[32px] leading-[40px]
           md:text-[40px] md:leading-[48px]
           lg:text-[48px] lg:leading-[56px];
    font-family: var(--font-poppins), sans-serif;
  }

  .h3 {
    @apply font-medium tracking-[0em] text-[24px] leading-normal
           md:text-[32px]
           lg:text-[32px] lg:leading-[40px];
    font-family: var(--font-poppins), sans-serif;
  }

  .sub-1 {
    @apply font-medium tracking-[0em] text-[20px] leading-normal
           md:text-[20px]
           lg:text-[24px] lg:leading-[24px];
    font-family: var(--font-poppins), sans-serif;
  }

  .sub-2 {
    @apply font-medium tracking-[0em] text-[14px] leading-normal
           md:text-[14px]
           lg:text-[16px] lg:font-semibold;
    font-family: var(--font-poppins), sans-serif;
  }

  .p1 {
    @apply font-normal tracking-[0em] text-[16px] leading-normal
           md:text-[16px]
           lg:text-[18px];
    font-family: var(--font-ibm-plex-sans), sans-serif;
  }

  .p1-bold {
    @apply font-medium tracking-[0em] text-[16px] leading-normal
           md:text-[16px]
           lg:text-[18px];
    font-family: var(--font-ibm-plex-sans), sans-serif;
  }

  .p2 {
    @apply font-normal tracking-[0em] text-[14px] leading-normal
           md:text-[14px]
           lg:text-[16px];
    font-family: var(--font-ibm-plex-sans), sans-serif;
  }

  .medium-label {
    @apply font-medium tracking-[0em] text-[16px] leading-normal;
    font-family: var(--font-poppins), sans-serif;
  }

  .link {
    font-family: var(--font-ibm-plex-sans), sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; /* 156.25% */
  }
}

.arrow {
  height: 16px;
  width: 16px;
  transform: rotate(90deg);
}
