@import "tailwindcss";
@import 'tailwind-scrollbar-hide/v4';


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --breakpoint-sm: 390px;
  --breakpoint-md: 744px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1440px;

   /* Brand palette */
  --color-primary: #311e41;
  --color-secondary: #563672;
  --color-complementary: #e86834;

  --color-primary-light: #fcf9ff;
  --color-secondary-light: #fefcff;
  --color-complementary-light: #fffaf7;

  /* Backgrounds */
  --color-bg-lavender: #faf6fd;
  --color-bg-dark: #0f0f0f;

  /* Neutrals */
  --color-black: #000000;
  --color-grey: #333333;
  --color-white: #ffffff;

  /* Borders / dividers */
  --color-line-divider: #dddddd;
  --color-text-grey-light: #b7b7b7;
  --color-image-placeholder: #ededed;

  /* Supporting tones */
  --color-dusty-purple: #6c5778;

  /* Opacity-based tokens */
  --color-white-87: rgb(255 255 255 / 87%);
  --color-white-67: rgb(255 255 255 / 67%);
  --color-black-60: rgb(0 0 0 / 60%);
  --color-inactive-tab: rgb(0 0 0 / 30%);
  --color-line-divider-dark: rgb(183 183 183 / 16%);


}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFFFF;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ibm-plex-sans), sans-serif;
}

/* Typography system */
@layer components {
  .h1 {
    @apply font-medium tracking-[-0.04em] text-[48px] leading-[56px]
          md:text-[64px] md:leading-[64px]
          lg:text-[80px] lg:leading-[80px];
    font-family: var(--font-poppins), sans-serif;
  }

  .h2 {
    @apply font-medium tracking-[-0.016em] text-[32px] leading-[40px]
           md:text-[40px] md:leading-[48px]
           lg:text-[48px] lg:leading-[56px];
    font-family: var(--font-poppins), sans-serif;
  }

  .h3 {
    @apply font-medium tracking-[0em] text-[24px] leading-normal
           md:text-[32px]
           lg:text-[32px] lg:leading-[40px];
    font-family: var(--font-poppins), sans-serif;
  }

  .sub-1 {
    @apply font-medium tracking-[0em] text-[20px] leading-normal
           md:text-[20px]
           lg:text-[24px] lg:leading-[24px];
    font-family: var(--font-poppins), sans-serif;
  }

  .sub-2 {
    @apply font-medium tracking-[0em] text-[14px] leading-normal
           md:text-[14px]
           lg:text-[16px] lg:font-semibold;
    font-family: var(--font-poppins), sans-serif;
  }

  .p1 {
    @apply font-normal tracking-[0em] text-[16px] leading-normal
           md:text-[16px]
           lg:text-[18px];
    font-family: var(--font-ibm-plex-sans), sans-serif;
  }

  .p1-bold {
    @apply font-medium tracking-[0em] text-[16px] leading-normal
           md:text-[16px]
           lg:text-[18px];
    font-family: var(--font-ibm-plex-sans), sans-serif;
  }

  .p2 {
    @apply font-normal tracking-[0em] text-[14px] leading-normal
           md:text-[14px]
           lg:text-[16px];
    font-family: var(--font-ibm-plex-sans), sans-serif;
  }

  .medium-label {
    @apply font-medium tracking-[0em] text-[16px] leading-normal;
    font-family: var(--font-poppins), sans-serif;
  }

  .link {
    font-family: var(--font-ibm-plex-sans), sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; /* 156.25% */
  }
}

